{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<header>
    <a href="{% url 'polls:index' %}">Django Polls</a>
</header>

<div class="container">
<div class="card">

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}

<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% for choice in question.choice_set.all %}
<label>
    <input type="radio" name="choice" value="{{ choice.id }}">
    {{ choice.choice_text }}
</label>
{% endfor %}
</fieldset>

<button type="submit">Vote</button>

</form>

</div>
</div>